{% extends "store/base.html" %}

{% block title %}
My Store
{% endblock %}


{% block content %}

<h1>
    Welcome to My Store
</h1>


<h2>
    Products
</h2>


<div class="product-grid">


    {% for product in products %}


    <div class="product-card">


        {% if product.image %}

            <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
            >

        {% endif %}


        <h2>
            {{ product.name }}
        </h2>


        <p>
            {{ product.description }}
        </p>


        <h3>
            ₹{{ product.price }}
        </h3>


        <p>
            Stock: {{ product.stock }}
        </p>


        <a
            href="{% url 'product_detail' product.id %}"
            class="btn"
        >
            View Product
        </a>


    </div>


    {% empty %}

        <p>
            No products available.
        </p>

    {% endfor %}


</div>

{% endblock %}
