{% extends "store/base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}


{% block content %}


<div class="product-detail">


    <div>

        {% if product.image %}

            <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
            >

        {% endif %}

    </div>


    <div>

        <h1>
            {{ product.name }}
        </h1>


        <p>
            {{ product.description }}
        </p>


        <h2>
            ₹{{ product.price }}
        </h2>


        <p>
            Available Stock:
            {{ product.stock }}
        </p>


        {% if product.stock > 0 %}


        <form
            method="POST"
            action="{% url 'add_to_cart' product.id %}"
        >

            {% csrf_token %}


            <label>
                Quantity:
            </label>


            <input
                type="number"
                name="quantity"
                value="1"
                min="1"
                max="{{ product.stock }}"
            >


            <button
                class="btn"
                type="submit"
            >
                Add to Cart
            </button>


        </form>


        {% else %}

            <p>
                Out of Stock
            </p>

        {% endif %}


    </div>


</div>


{% endblock %}
