{% extends "store/base.html" %}

{% block title %}
Shopping Cart
{% endblock %}


{% block content %}

<h1>
    Shopping Cart
</h1>


{% if cart_items %}


<table>

    <tr>

        <th>
            Product
        </th>

        <th>
            Price
        </th>

        <th>
            Quantity
        </th>

        <th>
            Total
        </th>

        <th>
            Action
        </th>

    </tr>


    {% for item in cart_items %}


    <tr>

        <td>
            {{ item.product.name }}
        </td>

        <td>
            ₹{{ item.product.price }}
        </td>

        <td>
            {{ item.quantity }}
        </td>

        <td>
            ₹{{ item.total }}
        </td>

        <td>

            <a
                href="{% url 'remove_from_cart' item.product.id %}"
            >
                Remove
            </a>

        </td>

    </tr>


    {% endfor %}


</table>


<h2>
    Grand Total: ₹{{ grand_total }}
</h2>


{% if user.is_authenticated %}

    <a
        href="{% url 'checkout' %}"
        class="btn"
    >
        Checkout
    </a>

{% else %}

    <p>
        Please login before checkout.
    </p>

    <a
        href="{% url 'login' %}"
        class="btn"
    >
        Login
    </a>

{% endif %}


{% else %}


<h2>
    Your cart is empty.
</h2>


<a
    href="{% url 'home' %}"
    class="btn"
>
    Continue Shopping
</a>


{% endif %}


{% endblock %}
